/*The other styles of Contact Us page in the Rafting Web*/

/*Three Employees*/
.employees {
    padding: 15px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 20px;

    gap: 20px;  /*"gap" creates the space between each column*/
    justify-items: center;
    align-items: center;
}

.employees h2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    order: -2;
    justify-content: center;
    align-items: center;   
}

/*Google Maps*/
.history iframe{
    width: 35rem;
    height: 20rem;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

/*Join Us*/
.join {
    position: relative;
    display: block;
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: flex-start;
    align-items: flex-start;
}

.join h2{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-start;   
    position: absolute;
    color: #fff;
    padding: 65px;
    font-size: 50px;
}

.join img{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 500px;
    width: 100%;
}

.join form{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    position: absolute;
    width: 15rem;
    padding: 16px;
    justify-content: center;
    align-content: center;
}

/*Form*/
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}


button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}