:root{
    --primary-color: #e3b600;
    --secondary-color: #aed8db;
    --accent1-color: #bddada;
    --accent2-color: #cfdcda;
    --heading-font: "Playfair Display", serif;
    --body-font: "Roboto", sans-serif;
    --light-color: #ffe57e;
}

header {
    background-color: var(--light-color);  /*The AAA color contrast was fixed*/
    color: var(--accent2-color);
    display: grid;                          /* Added for project w04*/
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
}

/*Logo*/
header img{ 
    grid-column-start: 1;
    grid-column-end: 3 ;
    display: flex;
    justify-self: center;
    flex-direction: row;
    align-items: center;
    width: 120px;
    padding: 10px;
}

/* Links*/
header nav {    
    grid-column-start: 3;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-content: center;
    border-style: solid;
    border-color: azure;
    border-width: 3px;
    border-radius: 5px;
    width: 25em;
    padding: 10px;
}

/*How to delete the underlined*/
header nav a {              /*It is required to type "a" too*/    
    text-decoration: none;
}
/* Scheme History*/
.history{
    /*border-style: solid;
    border-width: 3px;*/
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
/*Title "History"*/
.history h2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    order: -2;
    justify-content: center;
    align-items: center;
}

/*Scheme Adventure Awaits you*/
.images{
    /*border-style: solid;
    border-width: 3px;*/
    padding: 15px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    margin: 20px;

    gap: 20px;  /*"gap" creates the space between each column*/
    justify-items: center;
    align-items: center;
    text-align: center;
}

/*The 5 images*/
figure img{             /*It is required to code as img*/
    width: 8rem;
    height: 10rem;
}

figure figcaption{
    justify-content: center;
    align-items: center;
}
/*Title "Adventure Awaits you"*/
.images h2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    order: -2;
    justify-content: center;
    align-items: center;   
}

footer {
    background-color: var(--light-color); /*rgb(152, 152, 0)*/
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    margin-top: 100px;
    height: 5rem;
}

footer p{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    /*padding-right: 40px;*/
}


/*Until here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #000;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: #000;    /*The AA color contrast was fixed*/
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.socialmedia a {
    text-decoration: none;
    /*float: right;         #That's not necessary due to it is "flex" */
}

.socialmedia a img{
    width: 30px;
}

.hero {
    position: relative;
}

.hero img {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: auto;
}

h1 { 
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #000;
}

article {
    position: absolute;
    top: 200px;
    width: 800px;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.596); /*The AAA color contrast was fixed*/
    color: #fff;

}
.hero article img {
    float: right;
    width: 125px;
}

/*Rafting Style CSS #2 (rafting2.css)*/
/*The other styles of Contact Us page in the Rafting Web*/

/*Three Employees and Three Best Trips*/
.employees {
    padding: 15px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 20px;

    gap: 20px;  /*"gap" creates the space between each column*/
    justify-items: center;
    align-items: center;
    text-align: center;
}

.employees h2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    order: -2;
    justify-content: center;
    align-items: center;   
}


/*Google Maps*/
.history iframe{
    width: 35rem;
    height: 20rem;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

/*Join Us*/
.join {
    position: relative;
    display: block;
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
}

.join h2{
    grid-column-start: 1;
    grid-column-end: 2;
    position: absolute;
    color: #fff;
    padding: 65px;
    padding-right: 0;
    font-size: 50px;
}

.join img{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 500px;
    width: 100%;
}

.join form{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    position: absolute;
    width: 21rem;
}

/*Form*/
form {
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #fff4c8;
    justify-self: center;
    align-self: center;
}

fieldset {
    border: 1.8px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

legend {
    font-family: "Playfair Display", serif;
    padding: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 1.3em;

}

label {
    text-align: left; /*changed from right to left*/
    padding: 0.3em;
    font-size: 0.9em;
}

textarea{
    width: 16rem;
}
button {
    margin: 0.5rem;
    background-color: rgb(0, 0, 119);
    color: #fff;
    border: none;
    border-radius: .5rem;
    height: 2rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    justify-self: center;
}

/*Footer Wireframe*/
.footer-menu {
    justify-self: flex-start;
    align-self: center;
    text-decoration: none;
}

.join a {
    align-self: center;
    justify-self: center;
    font-family: var(--heading-font);
}



